.weather-form-dropdown {
  position: relative;
  max-width: 340px;

  &:focus-within .weather-form-dropdown__list {
    transform: scaleY(1) !important;
    opacity: 1 !important;
  }
  .weather-form-dropdown__main {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: center;
  }

  .weather-form-dropdown__list {
    background-color: white;
    position: absolute;
    top: 80px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
    max-height: 240px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 14px;
    box-shadow:
      -6px 0 0 0 black,
      6px 0 0 0 black,
      0 0px 0 0 black,
      0 6px 0 0 black;

    scrollbar-width: auto;
    scrollbar-color: #000 #fff;

    /* Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 0px;
    }

    p {
      padding: 6px;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #a3a9e0ff;
      }
    }
  }

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-shadow:
      -6px 0 0 0 black,
      6px 0 0 0 black,
      0 -6px 0 0 black,
      0 6px 0 0 black;
  }

  datalist {
    option {
      background-color: red;
    }
  }
}
